/* Menu */

/* Configuração geral */

.navbar-nav {
    display: flex; /* Garante que os itens sejam exibidos lado a lado */
    flex-wrap: nowrap; /* Impede que os itens "quebrem" para a próxima linha */
    justify-content: start; /* Alinha os itens à esquerda */
    gap: 15px; /* Adiciona espaçamento horizontal entre os itens */
}


.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
}

/* Logomarca */
.logo {
    height: 40px; /* Ajuste o tamanho conforme necessário */
}

.nav-link {
    color: #007bff !important; /* Cor padrão dos links */
    font-size: 16px; /* Ajusta o tamanho da fonte */
    padding: 5px 10px; /* Adiciona espaço interno */
    text-transform: uppercase;
}

.nav-link:hover {
    text-decoration: underline;
}

.form-control {
    max-width: 300px;
}

/* Menu fixo */
.sticky-top {
    z-index: 1020; /* Fica acima de outros elementos */
}



/* Responsividade */@media (max-width: 768px) {
    .navbar-nav {
        justify-content: center; /* Garante que itens fiquem no centro para telas bem pequenas */
    }

    .nav-link {
        font-size: 14px; /* Ajusta o tamanho da fonte para telas menores */
        padding: 5px; /* Reduz o espaçamento interno */
    }
}

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 14px;
    }

    .logo {
        width: 30px;
        height: 30px;
    }
}